*{
  font-family: 'Roboto Mono', monospace;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

body{
  background-color: #F8F7FF;
}

h2{
  font-weight: 500;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.note-wrapper{
  padding: 14px;
  margin-bottom: 10px;
}
.note-list .note-wrapper{
  cursor: pointer;
  border-bottom: 2px solid transparent;
}
.note-list .note-wrapper p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
.note-list .note-wrapper h2{
  font-size: 22px;
}
.note-list .note-wrapper p{
  font-size: 12px;
}
.note-list .note-wrapper .tag{
  font-size: 9px;
}
.note-list .note-wrapper:hover{
  border-bottom: 2px solid #FFD8BE;
}
.tag{
  border-radius: 4px;
  padding: 5px 8px;
  border: 1px solid #9381FF;
  width: max-content !important;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
}